header {
  display: flex;
  align-items: center;
  font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
  justify-content: center;
  margin-bottom: 2em;
  background: #000;
  color: #fff;
  min-height: 10vh;
  text-align: center;
}

ul, ol {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  max-width: 100vw;
  padding: 0;
}

li {
  display: flex;
  align-items: self-start;
  justify-items: start;
  margin: 0;
  font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
}

ul.weekdays {
  margin-bottom: 1em;
}

ul.weekdays li {
  height: 4vw;
}

ol.day-grid {
  grid-template-rows: auto;
}

ol.day-grid li {
  background-color: #fff;
  border: 1px solid #cfcfcf;
  display: block;
  height: 12vw;
  max-height: 125px;
  padding: 6px;
}

ol.day.grid li span.day-no {
  oolor: blue;
}

ol.day-grid li p.todo-count {
  font-size: 16px;  
}

ul.weekdays abbr[title] {
  border: none;
  font-weight: 800;
  text-decoration: none;
}

ol.day-grid [class*="month=prev"],
ol.day-grid [class*="month=next"] {
  background-color: #eaeaea !important;
  border: 1px solid #eaeaea !important;
}

@media all and (max-width: 800px) {
  ul, ol {
    grid-gap: .25em;
  }
  
  ul.weekdays li {
    font-size: 0;
  }
  
  ul.weekdays > li abbr:after {
      content: attr(title);
      font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    }
}
